name: YAML Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install yamllint
        run: pip install yamllint
      - name: Run yamllint
        run: yamllint .
